# This file is part of Sailfish SDK

[Unit]
Description=Configure Connman so that it can be used with Sailfish Build Engine
Before=connman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/sdk-setup/connman-config

[Install]
WantedBy=multi-user.target
