# This file is part of Sailfish SDK

[Unit]
Description=Set up DNAT to enable access to Sailfish OS Emulators

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/sdk-setup/dnat-emulators

[Install]
WantedBy=multi-user.target
